@model IEnumerable<Project1.Models.HTMLModel>

@{
    ViewData["Title"] = "Video Tutorial";
}

<h2>HTML for Beginners</h2>

<div>
    <br />
    <br />
    <iframe width="760" height="515" src="https://www.youtube-nocookie.com/embed/hrZqiCUx6kg?rel=0&amp;showinfo=0&amp;start=10" frameborder="0" allowfullscreen></iframe>
    <br />
    <br />
    <br />
    <form>
        Study Notes:<br />
        <textarea name="Notes" value="" style="height:300px; width:700px; max-width:none;"> </textarea>
    </form>
    <button type="button" class="btn btn-primary">Save</button>
</div>

    <table>
        <tr>
            <th>Keywords used in the HTML view:</th>
        </tr>
        <tr>
            <td><strong>!DOCTYPE Html</strong></td>
            <td>declaration defines this document to be HTML5</td>
        </tr>
        <tr>
            <td><strong>Html</Html></strong></td>
            <td>element is the root element of an HTML page</td>
        </tr>
        <tr>
            <td><strong>head</strong></td>
            <td>element contains meta information about the document</td>
        </tr>

        <tr>
            <td><strong>title</strong></td>
            <td>element specifies a title for the document</td>
        </tr>
        <tr>
            <td><strong>body</strong></td>
            <td>element contains the visible page content</td>
        </tr>
        <tr>
            <td><strong>h1 up to h6</strong></td>
            <td>element defines a large heading</td>
        </tr>
        <tr>
            <td><strong>p</strong></td>
            <td>element defines a paragraph</td>
        </tr>
        <tr>
            <td><strong>body</strong></td>
            <td>element contains the visible page content</td>
        </tr>
        <tr>
            <td><strong>h1 up to h6</strong></td>
            <td>element defines a large heading</td>
        </tr>
        <tr>
            <td><strong>p</strong></td>
            <td>element defines a paragraph</td>
        </tr>
        

    </table>



