@model IEnumerable<Project1.Models.HTMLModel>

@{
    ViewData["Title"] = "Video Tutorial";
}

<h2>Introduction HTML fundamentals</h2>

<div>
    <br />
    <br />
    <iframe width="760" height="515" src="https://www.youtube-nocookie.com/embed/eyWVaaNEeEk?rel=0&amp;showinfo=0&amp;start=5" frameborder="0" allowfullscreen></iframe>
    <br />
    <br />
    <br />
    <form>
        Study Notes:<br />
        <textarea name="Notes" value="" style="height:300px; width:700px; max-width:none;"> </textarea>
    </form>
    <button type="button" class="btn btn-primary">Save</button>
</div>

    



