
@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>




<html>

<head>
	Try here!
</head>

<body>
	<div class="CompileMethod">
		<!-- View para a consola-->
		<!--<form action="/action_page.php">-->
		@using (Html.BeginForm())
		{
			<form>

				<!-- <p> Value:aa@Html.ProcessCompilation <\p> -->
				Code: <textarea name="FirstCompile" value="" style="height:300px;width:700px; max-width:none;">
					  	
using System;

public class HelloWorld
{
    public static void Main()
    {
    }
	public static string Main1(){
		 
        // escreve aqui!
		}
}



@*using System;

public class HelloWorld
{
    public static void Main()
    {
    }
	public static int Main1(){
            return 2;
		}
}



using System;

public class HelloWorld
{
    public static void Main()
    {
    }
	public static int Main1(){
		string inputString = "12";
        int outputInteger = int.Parse(inputString);
 
        return outputInteger;
		}
}

using System.Linq;
		public class HelloWorld {
              public static void Main(string[] args) 
	{
	}
              public static string Main1(int abc) {
                
               int abc = 10;

                return abc.ToString();
              }
            }



using System;

public class HelloWorld
{
    public static void Main()
    {
    }
	public static string Main1(){
		double inputDouble = 24.5;
        string outputString = inputDouble.ToString();
 
        return outputString;
		}
}


using System;

public class HelloWorld
{
    public static void Main()
    {
    }
	public static string Main1(){
		 
        return ("Hello World");
		}
}

	 *@



</textarea><br>
				<br>
				<input type="submit" value="Execute">
				<input type="reset" value="Clear">
				<br>
				<br>
				<!-- Model: valor que o controlador passa a view, model: o tipo de dados  -->
				Result:
				@if (IsPost)
                {
					@Model
					@*foreach (string s in Model)
						{
							@s<br>
						}*@
                }
			</form>
		}

	</div>
</body>
</html>
