@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"] </h3>


<h2>Mission</h2>
<br />O
<p>Contribution towards development of technical qualification for programming, through a serie of online tutorials and quiz for different languages, such as Javascript and C#.</p>
<br />

<h2>Vision</h2>
<br />
<p>Our vision is for GrupoFixe to be a source of reference for introducing IT programming to people, and guiding them to the right direction to start a career.
    + "OCO:" +@Request["Id"]


</p>



